[*]
charset=utf-8
end_of_line=crlf
indent_size=4
indent_style=space
insert_final_newline=false
max_line_length=160
tab_width=4
ij_continuation_indent_size=8
ij_formatter_off_tag=@formatter:off
ij_formatter_on_tag=@formatter:on
ij_formatter_tags_enabled=false
ij_smart_tabs=false
ij_visual_guides=160
ij_wrap_on_typing=false

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_after_cast=false
csharp_style_var_elsewhere=true:hint
csharp_style_var_for_built_in_types=true:hint
csharp_style_var_when_type_is_apparent=true:hint
dotnet_style_predefined_type_for_locals_parameters_members=true:hint
dotnet_style_predefined_type_for_member_access=true:hint
dotnet_style_qualification_for_event=false:hint
dotnet_style_qualification_for_field=false:hint
dotnet_style_qualification_for_method=false:hint
dotnet_style_qualification_for_property=false:hint
dotnet_style_require_accessibility_modifiers=for_non_interface_members:hint

# ReSharper properties
resharper_align_first_arg_by_paren=true
resharper_align_linq_query=true
resharper_align_multiline_array_and_object_initializer=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_expression=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multiline_parameter=true
resharper_align_multiline_switch_expression=true
resharper_align_multiple_declaration=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_align_tuple_components=true
resharper_autodetect_indent_settings=true
resharper_enforce_line_ending_style=true
resharper_indent_anonymous_method_block=true
resharper_outdent_commas=true
resharper_outdent_dots=true
resharper_space_within_single_line_array_initializer_braces=true
resharper_use_indent_from_vs=false
resharper_wrap_lines=true

# ReSharper inspection severities
resharper_redundant_base_qualifier_highlighting=warning
resharper_web_config_module_not_resolved_highlighting=warning
resharper_web_config_type_not_resolved_highlighting=warning
resharper_web_config_wrong_module_highlighting=warning

[*.feature]
indent_size=2
ij_gherkin_keep_indents_on_empty_lines=false

[*.properties]
ij_properties_align_group_field_declarations=false

[.editorconfig]
ij_editorconfig_align_group_field_declarations=false
ij_editorconfig_space_after_colon=false
ij_editorconfig_space_after_comma=true
ij_editorconfig_space_before_colon=false
ij_editorconfig_space_before_comma=false
ij_editorconfig_spaces_around_assignment_operators=true

[{*.html,*.sht,*.htm,*.shtm,*.shtml}]
ij_html_add_new_line_before_tags=body,div,p,form,h1,h2,h3
ij_html_align_attributes=true
ij_html_align_text=false
ij_html_attribute_wrap=normal
ij_html_block_comment_at_first_column=true
ij_html_do_not_align_children_of_min_lines=0
ij_html_do_not_break_if_inline_tags=title,h1,h2,h3,h4,h5,h6,p
ij_html_do_not_indent_children_of_tags=html,body,thead,tbody,tfoot
ij_html_enforce_quotes=false
ij_html_inline_tags=a,abbr,acronym,b,basefont,bdo,big,br,cite,cite,code,dfn,em,font,i,img,input,kbd,label,q,s,samp,select,small,span,strike,strong,sub,sup,textarea,tt,u,var
ij_html_keep_blank_lines=2
ij_html_keep_indents_on_empty_lines=false
ij_html_keep_line_breaks=true
ij_html_keep_line_breaks_in_text=true
ij_html_keep_whitespaces=false
ij_html_keep_whitespaces_inside=span,pre,textarea
ij_html_line_comment_at_first_column=true
ij_html_new_line_after_last_attribute=never
ij_html_new_line_before_first_attribute=never
ij_html_quote_style=double
ij_html_remove_new_line_before_tags=br
ij_html_space_after_tag_name=false
ij_html_space_around_equality_in_attribute=false
ij_html_space_inside_empty_tag=false
ij_html_text_wrap=normal

[{*.uproject,*.json}]
indent_size=2
ij_json_keep_blank_lines_in_code=0
ij_json_keep_indents_on_empty_lines=false
ij_json_keep_line_breaks=true
ij_json_space_after_colon=true
ij_json_space_after_comma=true
ij_json_space_before_colon=true
ij_json_space_before_comma=false
ij_json_spaces_within_braces=false
ij_json_spaces_within_brackets=false
ij_json_wrap_long_lines=false

[{*.yml,*.yaml}]
indent_size=2
ij_continuation_indent_size=2
ij_yaml_keep_indents_on_empty_lines=false
ij_yaml_keep_line_breaks=true
indent_style=space

[{StyleCop.Cache,*.jhm,*.cscfg,*.jrxml,*.rng,*.wadcfgx,*.axml,*.wsdl,*.webref,*.fxml,*.myapp,*.svcmap,*.xslt,*.filelayout,*.ant,*.xul,*.xsl,*.xsd,*.stylecop,*.settings,*.jnlp,*.csdef,*.disco,*.tld,*.xml}]
ij_xml_block_comment_at_first_column=true
ij_xml_keep_indents_on_empty_lines=false
ij_xml_line_comment_at_first_column=true

[*.{appxmanifest,asax,ascx,aspx,build,cs,cshtml,dtd,master,nuspec,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
