<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Desktop" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Diagnostics" version="2.0.4" targetFramework="net472" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net472" />
</packages>