name: Pull Requests

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    if: github.event.pull_request.draft == false
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/build